.card {
    color: #333;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .name {
        width: 90%;
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
        overflow: hidden;
    }

    &.new {
        background-color: #ffff86;

        &.selected {
            border: 1px solid #7a7a40;
        }
    }

    &.doing {
        background-color: #b8d7fa;

        &.selected {
            border: 1px solid #17455d;
        }
    }

    &.done {
        background-color: #b0f399;

        &.selected {
            border: 1px solid #3f6c1c;
        }
    }

    &.canceled {
        background-color: #ddd;

        &.selected {
            border: 1px solid #555;
        }
    }

}

