.card {
    color: var(--card-text-color);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .name {
        width: 90%;
        text-align: center;
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
        overflow: hidden;
    }

    &.new {
        background-color: var(--new-leaf-background);

        &.selected {
            border: 1px solid var(--new-leaf-border);
        }
    }

    &.doing {
        background-color: var(--doing-leaf-background);

        &.selected {
            border: 1px solid var(--doing-leaf-border);
        }
    }

    &.done {
        background-color: var(--done-leaf-background);

        &.selected {
            border: 1px solid var(--done-leaf-border);
        }
    }

    &.canceled {
        background-color: var(--canceled-leaf-background);

        &.selected {
            border: 1px solid var(--canceled-leaf-border);
        }
    }

    &.blocked {
        background-color: var(--blocked-leaf-background);

        &.blocked {
            border: 1px solid var(--blocked-leaf-border);
        }
    }
}
