.toolbar {
    background-color: var(--toolbar-background);
    border: 1px solid var(--toolbar-border);
    border-radius: 5px;
    box-shadow: 0 3px 5px var(--toolbar-shadow);
    
    width: 215px;
    height: 25px;
    
    padding: 5px;
    margin: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
    justify-content: space-between;

    button.add-child {
        justify-self: start;
        background-color: var(--new-leaf-background);
        border: 1px solid var(--new-leaf-border);
        width: 20px;
        height: 20px;
        padding: 0;
    }
    
    button.delete {
        justify-self: end;
        background-color: transparent;
        border: none;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .set-status {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        align-items: center;
        justify-items: end;

        button {
            border-radius: 50%;
            width: 18px;
            height: 18px;

            &.new {
                background-color: var(--new-leaf-background);
                border: 1px solid var(--new-leaf-border);
            }

            &.doing {
                background-color: var(--doing-leaf-background);
                border: 1px solid var(--doing-leaf-border);
            }

            &.done {
                background-color: var(--done-leaf-background);
                border: 1px solid var(--done-leaf-border);
            }

            &.canceled {
                background-color: var(--canceled-leaf-background);
                border: 1px solid var(--canceled-leaf-border);
            }

            &.blocked {
                background-color: var(--blocked-leaf-background);
                border: 1px solid var(--blocked-leaf-border);
            }
        }
    }

}