.card {
    &.new {
        rect {
            fill: #ffff86;
            stroke: #7a7a66;
        }

        text {
            fill: black;
        }
    }

    &.doing {
        rect {
            fill: #9dbde5;
            stroke: #2e3946;
        }

        text {
            fill: black;
        }
    }
}