header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
    
    h1 {
        font-family: 'Madie Roger', sans-serif;
        font-size: 3rem;
        color: orange;
        margin: 0;
    }

    small {
        margin-left: 4rem;
    }

    button {
        font-size: 1rem;
        background-color: orange;
        border: 1px solid #c07200;
        color: white;
        border-radius: 0.5rem;
        padding: 1rem;
        height: min-content;

        &:hover {
            background-color: darkorange;
        }
    }
}

    